.chance-analitica{
	padding-top: 60px;
	text-align: center;
}

.imagen-analitic{
	width: 50%;
}


.tamifo-analitica{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tamifo-analiticados{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tam-anaiticscol{
	width: 100%;
}

