.banner-designweb{
	padding-top: 60px;
}

.chance-design{
	width: 100%;
}

.tamcol{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tamcoldos{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.chance-designdos{
	width: 100%;
}