.chance-position{
	padding-top: 60px;
	text-align: center;
}

.imagen-seo{
	width: 45%;
}

.tamifo-position{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tamifo-positiondos{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tam-seocol{
	width: 100%;
}