.chance-publicidad{
	padding-top: 60px;
	text-align: center;
}

.tamifo-publicidad{
	height: 50%;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.tamifo-publicidados{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tam-publicol{
	width: 100%;
}