.chance-social{
	padding-top: 60px;
	text-align: center;
}

.tamifo-socialmedia{
	height: 50%;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.tamifo-socialmediados{
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.tam-socialmedia{
	width: 100%;
}